<nav class="navbar">
  <div class="brand-icon-searchCtn">
    <div class="brand-icon-ctn">
      <a href="/">
        <!-- <i class="fab fa-facebook" class="brand-icon"></i> -->
        <img src="/assets/VibeIn.png" alt="" class="logo">
      </a>
    </div>
    <div class="search-redirect-btn-ctn">
      <!-- <form action="/search">
        <div>
          <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
          <input type="text" class="search-input" id="search" placeholder="Search Friends" name="search_query" />
        </div>
      </form> -->
      <button class="search-redirect-btn">
        <i class="fa fa-search" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="icons-ctn">
    <div>
      <a href="/">
        <i class="fas fa-home"></i>
      </a>
    </div>
    <div>
      <a href="/chats">
        <i class="fab fa-facebook-messenger"></i>
      </a>
      <div class="no-of-messages <%= (currentUser.personalChats.reduce((val,chatRoom)=> {
          if(chatRoom.messages.some((msg) => String(currentUser._id) !== String(msg.author._id) && msg.isReaded === false)){
          return val + 1;
          } else {
          return val;
          }
          },0)) === 0 && " display-none" %>">
        <%= currentUser.personalChats.reduce((val,chatRoom)=> {
          if(chatRoom.messages.some((msg) => String(currentUser._id) !== String(msg.author._id) && msg.isReaded ===
          false)){
          return val + 1;
          } else {
          return val;
          }
          },0) %>
      </div>
    </div>
    <div>
      <a href="/friends">
        <i class="fas fa-user-friends"></i>
      </a>
      <div class="no-of-requests <%= currentUser.requests.length === 0 && " display-none" %> ">
        <%= currentUser.requests.length %>
      </div>
    </div>
    <!-- <div>
      <a href="#">
        <i class="fas fa-bell"></i>
      </a>
      <div class="no-of-notifications">5</div>
    </div> -->
  </div>
  <div class="user-page-redirect-btn">
    <button class="drop-down-menu-btn">
      <img src=<%=currentUser.profilePicture%>
      alt="" class="user-img" />
    </button>

    <div class="drop-down-menu display-none">
      <span class="arrow">
      </span>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li>
          <form method="post" action="/user/<%= currentUser._id %>?_method=DELETE">
            <button type="submit" class="delete-user-btn" style="color: white;">Delete Account</button>
          </form>
        </li>
      </ul>
    </div>
  </div>
</nav>