<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= user.username.toUpperCase() %> | VI
  </title>
  <link rel="stylesheet" href="/CSS/app.css" />
  <link rel="stylesheet" href="/CSS/navbar.css" />
  <link rel="stylesheet" href="/CSS/profilePage.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
    integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet" />
  <link rel="shortcut icon" href="#">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.23.0/axios.min.js"
    integrity="sha512-Idr7xVNnMWCsgBQscTSCivBNWWH30oo/tzYORviOCrLKmBaRxRflm2miNhTFJNVmXvCtzgms5nlJF4az2hiGnA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/JS/app.js" defer></script>
  <link rel="shortcut icon" href="/assets/VibeIn-without-text.png">
</head>

<body>
  <%- include('partials/navbar') %>
    <div class="display-none user-id">
      <%= user._id %>
    </div>
    <main class="main-ctn">
      <div class="profile-background-img">
        <div class="profile-img-ctn">
          <img src=<%=user.profilePicture %>
          alt=""
          class="profile-img"
          />
        </div>

        <% if (String(currentUser._id)!==String(user._id)) { %>

          <div class="btn-ctn-profile-page">
          </div>
          <% } %>
      </div>

      </div>
      <div class="username">
        <% if(user.isDeleted===false) { %>
          <h2>
            <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>
          </h2>
          <% } else {%>
            <h2>Deleted Account</h2>
            <% } %>
      </div>
      <% if(user.description){ %>
        <div class="description">
          <p>
            <%= user.description %>
          </p>
        </div>
        <% } else if(String(user._id)===String(currentUser._id)){ %>
          <div class="bio-form-pop-up-btn">
            <button class="bio-form-btn">Add Bio</button>
          </div>
          <% } %>
            <div class="friends-posts-ctn">
              <div class="left">
                <div class="details-form">
                  <h3 class="title">Details</h3>
                  <ul>
                    <% if(user.state && user.city ) {%>
                      <li class="location">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>Lives in <%= user.city %> , <%= user.state %> </span>
                      </li>
                      <% } else if(user.city) {%>
                        <li class="location">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                          <span>Lives in <%= user.city %></span>
                        </li>
                        <% } else if(user.state) {%>
                          <li class="location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>Lives in <%= user.state %></span>
                          </li>
                          <% } else if(user.country) {%>
                            <li class="location">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              <span>Lives in <%= user.country %></span>
                            </li>
                            <% } else %>
                              <% if(user.course || user.branchInCollege || user.yearOfGraduation) {%>
                                <li class="qualification">
                                  <i class="fas fa-school"></i>
                                  <% if (user.course) { %>
                                    <span>
                                      <%= user.course %>
                                    </span>
                                    &nbsp;
                                    <% } %>
                                      <% if (user.course && user.branchInCollege) { %>
                                        <span>
                                          <%= user.branchInCollege %>
                                        </span>
                                        &nbsp;
                                        <% } %>
                                          <% if (user.course && user.branchInCollege && user.yearOfGraduation) { %>
                                            <span>(Expected <%= user.yearOfGraduation %> )</span>
                                            <% } %>
                                </li>
                                <% } %>
                                  <% if (user.yearOfGraduation) { %>
                                    <li class="course-duration">
                                      <i class="fas fa-clock"></i>
                                      <span>2024</span>
                                    </li>
                                    <% } %>
                  </ul>
                  <% if(String(currentUser._id)===String(user._id)){ %>
                    <div class="edit-detail-form-popup-btn-ctn">
                      <button class="edit-detail-form-popup-btn">Edit Details</button>
                    </div>
                    <% } %>
                </div>
                <div class="interests-ctn">
                  <h3 class="title">Interests</h3>
                  <ul class="interests">
                    <% for(let key of user.interests) { %>
                      <li class="interest">
                        <img src="/assets/<%= key %>.jpg" alt="interest">
                        <span>
                          <%= key %>
                        </span>
                      </li>
                      <% } %>

                  </ul>
                  <% if(String(currentUser._id)===String(user._id)){ %>
                    <div class="edit-interest-form-popup-btn-ctn">
                      <button class="edit-interest-form-popup-btn">
                        Add Interests
                      </button>
                    </div>
                    <% } %>
                </div>
                <div class="friends">
                  <h3 class="title">Friends</h3>
                  <% if(user.friends.length===0) {%>
                    <div class="no-friends">
                      <h3>
                        <%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %> has no friends
                      </h3>
                    </div>
                    <% } else {%>
                      <div class="friends-ctn">
                        <% for(let friend of user.friends){ %>
                          <div class="friend">
                            <img src=<%=friend.profilePicture %>
                            alt="friend image" class="friend-img" />
                            <span class="friend-name">
                              <a href='/user/<%= friend._id %>'>
                                <%= friend.username %>
                              </a>
                            </span>
                          </div>
                          <% } %>
                      </div>
                      <% } %>
                </div>
              </div>
              <div class="user-posts">
                <% if (String(currentUser._id)===String(user._id)) { %>
                  <form class="create-post-form">
                    <a href=<%=`/user/${user._id}` %>>
                      <img src=<%=user.profilePicture %>
                      alt="logged in user image"
                      class="loggedin-user-img-post"
                      />
                    </a>
                    <input type="text" name="post" id="post" placeholder="Share Something"
                      class="create-post-form-input" autocomplete="off" />
                  </form>

                  <% } %>
                    <% if(user.posts.length===0) {%>
                      <div class="no-post">
                        <h1>
                          Sorry, nothing to show :(
                        </h1>
                      </div>
                      <% } %>
              </div>
            </div>
    </main>
</body>
<script src="/JS/profilePage.js" defer></script>
<script src="/JS/navbar.js" defer></script>
<script src="/JS/app.js" defer></script>

</html>